*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(78, 91, 133);
  
}
.center-div{
    display: flex;
    justify-content: center;
}
.header-main{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.header{
    width: 30%;
    font-family: 'Sedgwick Ave Display', 'sans-serif';
    font-size: 25px;
    color: #d8ff00d9;
    display: flex;
    justify-content: center;
    padding: 2% ;
    border: 3px solid #000000;
    border-radius: 30px;
    background-color: #013838;
    text-align: center;
}
.main-section{
    padding-top: 30px;
    width: 90%;
    border: 3px solid #000000;
    margin-top: 20px;
    border-radius: 40px;
    background-color: #624fad;

}
.inputs{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px 0px;
}
.inputs input{
    padding: 20px;
    border: none;
    border-radius: 30px;
    width: 50%;
    background-color: #ff51c2;
    font-size: 20px;
    font-weight: 400;
}
.checked{
    color: #000000;
    text-decoration: line-through;
}
.inputs button, button {
    padding: 20px;
    border: none;
    border-radius: 10%;
    font-size: 20px;
    font-weight: 900;
    color: #000000;
    background-color: #1aff05;
    margin-left: 10px;
    cursor: pointer;
   
}
.tasks-main{
    display: flex;
    justify-content: center;
    padding: 10px;
    flex-wrap: wrap;
}
.tasks-main button{
    border: none;
    background-color: #013838;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}
.task-div{
    padding: 10px;
    font-size: 30px;
    font-weight: 500;
    border: 2px solid #000000;
    
   
}

span{
    word-break: break-all;
    font-size: 1.5em;
    font-weight: 900;
    color: rgb(0, 0, 0);
}
#task-option{
    background-color: #d8db3e;
    border-radius: 5px;
    align-items: center;
}
.checked{
    text-decoration: line-through #ff0202;
}
.del-all{
    background-color: #7d2389;
}
.del-all button{
    background-color: #ff0000;
}

    /* styles for mobile screeensss
    styles for mobile screeensss
    styles for mobile screeensss */

@media (width <= 600px){

    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    body{
        background-color: rgb(78, 91, 133);
      
    }
    .center-div{
        display: flex;
        justify-content: center;
    }
    .header-main{
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 3vh;
    }
    .header{
        width: 70%;
        font-family: 'Sedgwick Ave Display', 'sans-serif';
        font-size: 2rem;
        color: #d8ff00d9;
        display: flex;
        justify-content: center;
        padding: 2% ;
        border: 3px solid #000000;
        border-radius: 50px;
        background-color: #013838;
        text-align: center;
    }
    
    .main-section{
        padding-top: 30px;
        width: 90%;
        min-height: 100vh;
        border: 3px solid #000000;
        margin-top: 20px;
        border-radius: 40px;
        background-color: #624fad;
    
    }
    .inputs{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 20px 0px;
        flex-wrap: wrap;
        border-bottom:3px solid black ;
    }
    .inputs input{
        padding: 5%;
        border: none;
        border-radius: 30px;
        width: 70%;
        background-color: #e2a6cd;
        font-size: 20px;
        font-weight: 400;
        
    }
    .del-all{
        width: 100%;
        padding: 2%;
        border-bottom:3px solid black ;
    }
    
    .inputs button, button {
        padding: 20px;
        border: none;
        border-radius: 20px;
        font-size: 20px;
        font-weight: 900;
        color: #000000;
        background-color: #aa008e;
        margin-left: 10px;
        cursor: pointer;
       
    }
    .inputs button{
        margin-top: 3%;
        /* border-radius: 20px; */
    }
    
    .tasks-main{
        display: flex;
        justify-content: center;
        padding: 10px;
        flex-wrap: wrap;
        width: 100%;
    }
    .tasks-main button{
        border: none;
        background-color: #aa008e;
        font-size: 20px;
        border-radius: 10px;
        padding: 10px;
        cursor: pointer;
    }
    .task-div{
        padding: 10px;
        font-size: 30px;
        font-weight: 500;
        border: 2px solid #000000;
        
       
    }
    #task-option button{
        padding: 1% 3px;
    }
    
    span{
        word-break: break-all;
        font-size: 1.5rem;
        font-weight: 600;
        color: #000000;
    }
    
}
